$color-white: #fff;

$color-bg: hsl(0, 0%, 100%);
$color-bg-a00: hsla(0, 0%, 100%, 0);
$color-contrast-lower: hsl(0, 0%, 95%);
$color-contrast-low: hsl(240, 1%, 83%);
$color-contrast-medium: hsl(240, 1%, 48%);
$color-contrast-high: hsl(240, 4%, 20%);
$color-contrast-higher: hsl(240, 8%, 12%);
$color-contrast-higher-a90: hsla(240, 8%, 12%, 0.9);
