$space-unit: 1rem;
 $space-xxxxs: calc(0.125 * #{$space-unit}); 
 $space-xxxs:  calc(0.25 * #{$space-unit});
 $space-xxs:   calc(0.375 * #{$space-unit});
 $space-xs:    calc(0.5 * #{$space-unit});
 $space-sm:    calc(0.75 * #{$space-unit});
 $space-md:    calc(1.25 * #{$space-unit});
 $space-lg:    calc(2 * #{$space-unit});
 $space-xl:    calc(3.25 * #{$space-unit});
 $space-xxl:   calc(5.25 * #{$space-unit});
 $space-xxxl:  calc(8.5 * #{$space-unit});
 $space-xxxxl: calc(13.75 * #{$space-unit});


.margin-top, .margin-top-md {
  margin-top: $space-md
}

.margin-top-xxxxs {
  margin-top: $space-xxxxs
}

.margin-top-xxxs {
  margin-top: $space-xxxs
}

.margin-top-xxs {
  margin-top: $space-xxs
}

.margin-top-xs {
  margin-top: $space-xs
}

.margin-top-sm {
  margin-top: $space-sm
}

.margin-top-lg {
  margin-top: $space-lg
}

.margin-top-xl {
  margin-top: $space-xl
}

.margin-top-xxl {
  margin-top: $space-xxl
}

.margin-top-xxxl {
  margin-top: $space-xxxl
}

.margin-top-xxxxl {
  margin-top: $space-xxxxl
}

// margin bottom
.margin-bottom, .margin-bottom-md {
  margin-bottom: $space-md
}

.margin-bottom-xxxxs {
  margin-bottom: $space-xxxxs
}

.margin-bottom-xxxs {
  margin-bottom: $space-xxxs
}

.margin-bottom-xxs {
  margin-bottom: $space-xxs
}

.margin-bottom-xs {
  margin-bottom: $space-xs
}

.margin-bottom-sm {
  margin-bottom: $space-sm
}

.margin-bottom-lg {
  margin-bottom: $space-lg
}

.margin-bottom-xl {
  margin-bottom: $space-xl
}

.margin-bottom-xxl {
  margin-bottom: $space-xxl
}

.margin-bottom-xxxl {
  margin-bottom: $space-xxxl
}

.margin-bottom-xxxxl {
  margin-bottom: $space-xxxxl;
}

// margin x

.margin-x, .margin-x-md {
  margin: 0 $space-md
}

.margin-x-xxxxs {
  margin: 0 $space-xxxxs
}

.margin-x-xxxs {
  margin: 0 $space-xxxs
}

.margin-x-xxs {
  margin: 0 $space-xxs
}

.margin-x-xs {
  margin: 0 $space-xs
}

.margin-x-sm {
  margin: 0 $space-sm
}

.margin-x-lg {
  margin: 0 $space-lg
}

.margin-x-xl {
  margin: 0 $space-xl
}

.margin-x-xxl {
  margin: 0 $space-xxl
}

.margin-x-xxxl {
  margin: 0 $space-xxxl
}

.margin-x-xxxxl {
  margin: 0 $space-xxxxl;
}

// margin y

.margin-y, .margin-y-md {
  margin: $space-md 0;
}

.margin-y-xxxxs {
  margin:  $space-xxxxs 0;
}

.margin-y-xxxs {
  margin: $space-xxxs 0;
}

.margin-y-xxs {
  margin: $space-xxs 0;
}

.margin-y-xs {
  margin: $space-xs 0;
}

.margin-y-sm {
  margin: $space-sm 0;
}

.margin-y-lg {
  margin: $space-lg 0;
}

.margin-y-xl {
  margin: $space-xl 0;
}

.margin-y-xxl {
  margin: $space-xxl 0;
}

.margin-y-xxxl {
  margin: $space-xxxl 0;
}

.margin-y-xxxxl {
  margin: $space-xxxxl 0;
}


.margin, .margin-md {
  margin: $space-md;
}

.margin-xxxxs {
  margin:  $space-xxxxs;
}

.margin-xxxs {
  margin: $space-xxxs;
}

.margin-xxs {
  margin: $space-xxs;
}

.margin-xs {
  margin: $space-xs;
}

.margin-sm {
  margin: $space-sm;
}

.margin-lg {
  margin: $space-lg;
}

.margin-xl {
  margin: $space-xl;
}

.margin-xxl {
  margin: $space-xxl;
}

.margin-xxxl {
  margin: $space-xxxl;
}

.margin-xxxxl {
  margin: $space-xxxxl;
}
