<label
  class="p-form-label"
  for="selectThis"
>Select:</label>

<div class="p-select">
  <select
    class="p-form-control"
    name="selectThis"
    id="selectThis"
  >
    <optgroup label="Group 1">
      <option value="0">Select option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
    </optgroup>

    <optgroup label="Group 2">
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
    </optgroup>
  </select>
  <svg
    class="icon"
    aria-hidden="true"
    viewBox="0 0 16 16"
  >
    <g
      stroke-width="1"
      stroke="currentColor"
    >
      <polyline
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-miterlimit="10"
        points="15.5,4.5 8,12 0.5,4.5 "
      ></polyline>
    </g>
  </svg>
</div>
