<div class="tooltip">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>
<div class="tooltip">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <span class="arrow top"></span> </div>
<div class="tooltip">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <span class="arrow bottom"></span></div>
<div class="tooltip">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <span class="arrow left"></span></div>
<div class="tooltip">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <span class="arrow right"></span></div>
